body{

height:100vh;

display:flex;

align-items:center;

justify-content:center;


background:
linear-gradient(
135deg,
#020617,
#1e1b4b
);


color:white;

font-family:Arial;

}



.login-card{


width:380px;

padding:40px;


background:
rgba(255,255,255,0.08);


border-radius:20px;


backdrop-filter:blur(15px);


text-align:center;


}



.login-card input{


width:100%;

padding:14px;

margin:12px 0;


border:none;

border-radius:10px;


background:#1e293b;

color:white;


}



.login-card button{


width:100%;

margin-top:20px;

}